.about-header {
  color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/aboutBG.png");
  background-size: fit;
  background-repeat: no-repeat;
}  

.about-container {
  height: 92.8vh;
  display: flex;
  flex-direction: column;
  align-items: left;

}

#link-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#hey {
  font-weight: lighter;
  font-size: 2.5em;
}

#linkedin-github{
  text-decoration: none;
  color: #FFBD59;
}

.my-name{
  font-weight: bold;
  color: #FFBD59;
}

@keyframes chromAbb {
  0%
  {text-shadow: 0 0 #a50610, 0 0 #0c2aa8, 0 6px 0 transparent, 8px 0 0 transparent}
  100%
  {text-shadow: 0.06ex 0 #a50610, -0.06ex 0 #0c2aa8, 0 0.14ex 0 rgba(0,0,0,.8), 0.12ex 0 0 rgba(0,0,0,.8) }
}
  
  
  