.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

}

.App-link {
  color: #61dafb;
}


@keyframes chromAbb {
  0%
    {text-shadow: 0 0 #a50610, 0 0 #0c2aa8, 0 6px 0 transparent, 8px 0 0 transparent}
  100%
    {text-shadow: 0.06ex 0 #a50610, -0.06ex 0 #0c2aa8, 0 0.14ex 0 rgba(0,0,0,.8), 0.12ex 0 0 rgba(0,0,0,.8) }
}

#buttonDiv {
  margin: 5px auto;
  display: flex;
  flex-direction: row;
}