.clicky-dial {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #a3a3a3;
    text-align: center;
    color: rgb(53, 53, 53);
    cursor: pointer;
    user-select: none;
    box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.15), inset -2px -2px 5px 2px rgba(0, 0, 0, 0.15);
  }
  