.plastic-casing-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    background-color: bisque;
    border-radius: 25px;
    box-shadow: inset -3px -3px 5px 8px #0000001f, 18px 18px 10px 10px #0000001f, 6px 6px blanchedalmond, 8px 8px blanchedalmond, 10px 10px blanchedalmond, 12px 12px blanchedalmond, 13px 13px bisque, 14px 14px bisque, 15px 15px bisque;
    border: none;
}

.plastic-casing-inner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: #282c34;
    border-radius: 10px;
    border: none;

}