.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.interface-title{
    color: #FFBD59;
}

.interface-subtitle{
    color: #FFBD59;
}

.interface-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

#tiny-text{
    font-size: 10px;
}