.card {
    width: 500px;
    height: 120px;
    padding: 10px;
    background-color: #ff5050;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 5px;
}

.card[data-isOpen="true"]{
    transition: all 0.2s ease-in-out;
    height: 180px;
}

.card[data-isOpen="false"]{
    transition: all 0.2s ease-in-out;
    height: 120px;
}

.card-body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.card-body[data-isOpen="true"]{
    transition: all 0.2s ease-in-out;
    height: 40px;
}

.card-body[data-isOpen="false"]{
    transition: all 0.2s ease-in-out;
    height: 0px;
}


