.nav-drop-down {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    text-decoration: none;
    color: lightcyan;
    z-index: 90;
    position: absolute;
}

.drop-down {
    height : 100%;
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    border-radius: 0px 0px 10px 10px;
    user-select: none;
    text-decoration: none;
    color: lightcyan;
    margin-top: 20px;
}

.drop-down-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: lightcyan;
}

.drop-down-item:hover{
    background-color: #333;
    transition: 0.5s;
}

.drop-down-item:active{
    background-color: #333;
    transition: 0.1s;
    width: 80%;
    border-radius: 5px 5px 5px 5px;
    color: #FFBD59;
}