  
::-webkit-scrollbar {
 height: 5px;
 width: 5px;
 -webkit-border-radius: 1ex;
}

.box {
 width: 100px;
 height: 100px;
 border-radius: 50%;
 background: #fff3;
 background-image: "https://i.pinimg.com/originals/4c/a3/1e/4ca31e5343e89bc550044caec29543e6.jpg";
  }
  