/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Rubik:wght@400;700&display=swap');

.littr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.littr-container {
    width: 80%;
    max-width: 1400px;
    animation: fadeIn 0.5s ease-in forwards;
    box-sizing: border-box;
}

.littr-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.littr-tech-item img {
    width: 16px;
    height: auto;
    transition: 0.2s;
}

.littr-title,
.littr-subtitle,
.littr-link {
    font-family: 'Montserrat', sans-serif;
    color: #FFBD59;
}

.littr-title {
    font-size: larger;
    text-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
}

.littr-description {
    word-wrap: break-word;
    width: fit-content;
}

.littr-video-frame {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.littr-link {
    transition: 0.2s;
    color: #FFBD59;
}

.littr-link:hover {
    color: lightcyan;
}

.example-images-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.example-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-description {
    font-size: smaller;
}

#bad,
#good,
#card {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .littr-container {
        max-width: 380px;

    }
    .littr-list-container {
        justify-content: center;
        flex-direction: column  ;
    }

    .example-images-container {
        flex-direction: column;
        align-items: center;
    }

    .littr-description {
        font-size: smaller;
    }
    .littr-video-frame {
        width: 380px;
    }
}
