html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.switch {
  width: 80px;
  height: 50px;
  background-color: rgba(73, 73, 73, 0.24);
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  box-shadow: inset 3px 3px 1px rgba(0, 0, 0, 0.4);
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 35px;
  height: 35px;
  background-color: antiquewhite;
  border-radius: 4px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
}
