body {
  margin: 0;
 
}


#buttonDiv {
  margin: 5 auto;
}



/* button:hover {
  background-color: gray;
  animation: boop 0.2s ease-in-out;
}

button:active {
  background-color: rgb(156, 156, 156);
  transition: transform 0.1s ease-in-out;
  transform : translate(2px, 2px);
}

@keyframes boop {
  0% {
    scale : 1;
  }
  50% {
    scale : 1.05;
  }
  100% {
    scale : 1;
  }
} */

