body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  text-shadow: 3px 3px 3px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#buttonDiv {
  margin: 5 auto;
}

button {
  background-color: rgb(102, 102, 102);
  border-radius: 6px;
  width: 100px;
  height: 45px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 3px;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

/* button:hover {
  background-color: gray;
  animation: boop 0.2s ease-in-out;
}

button:active {
  background-color: rgb(156, 156, 156);
  transition: transform 0.1s ease-in-out;
  transform : translate(2px, 2px);
}

@keyframes boop {
  0% {
    scale : 1;
  }
  50% {
    scale : 1.05;
  }
  100% {
    scale : 1;
  }
} */